#to-create {
    float: right;
}

#poll-input {
    width: 100%;
    display: flex;
    flex-direction: horizontal;
}

#thing1 {
    float: right;
    margin-left: 20px;
}

.App-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: App-logo-spin infinite 120s linear;
    height:25vmin;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  